<VirtualHost *:80>
    ServerAdmin webmaster@localhost
    ServerName {{ hostvars[groups['backend'][0]]['ansible_host'] }}
    DocumentRoot /var/www/{{ nom_dossier_wordpress }}
    ErrorLog ${APACHE_LOG_DIR}/error.log
    CustomLog ${APACHE_LOG_DIR}/access.log combined

    <Directory /var/www/{{ nom_dossier_wordpress }}>
        Options -Indexes
    </Directory>

    <IfModule mod_dir.c>
        DirectoryIndex index.php index.html index.cgi index.pl index.xhtml index.htm
    </IfModule>
</VirtualHost>